.orders.new
  .row
    .span2
      %h3 Item Details
      %p
        %b Item Name:
        = @item.name
      %p
        %b Description:
        = @item.description.paragraphize
      %p
        %b Price:
        = number_to_currency(@item.price)
    .span6.offset1
      %h1 New Order
      = render 'form'
    .span3
      %h4 Shipping Information
      %p We ship all packages next-day air. All packages are insured for the full value of their sales price.
      %h4 Returns
      %p We accept returns with 30-days for full store-credit.