.item
  .img= link_to (image_tag item.images.first.file.url(:medium)), item if item.images.any?
  .caption
    %h5= item.name
    %p= item.description.truncate(200).paragraphize
    = link_to 'View This Item', item, :class => 'btn btn-success'
