.item
  .img= image_tag item.images.first.file.url(:medium) if item.images.any?
  .caption
    %h5= item.name
    %p= item.description.capitalize!
    = link_to 'View This Item', item, :class => 'btn btn-primary'
