.items.index
  .row
    .sidebar.span2= render 'items_sidebar'
    .main.span10
      %h1= "The Hartman Gallery :: " << @title
      - if @items.any?
        #pinterest= render @items
      - else
        No matching items found.

      .row= will_paginate @items

.goup

:javascript
  $(window).load(function() {
    trigger_pinterest();
  });