body
  background: #cae5ef

.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clear
  width: 100%
  clear: both
  float: none

h1
  margin-bottom: 20px
  color: #024700

a
  color: #092f7c

.navbar-inner
  background: #fff
  -webkit-box-shadow:  0px 1px 1px 1px rgba(170, 170, 170, 0.4)
  box-shadow:  0px 1px 1px 1px rgba(170, 170, 170, 0.4)

.navbar .nav > li > a
  color: #000
  font-weight: bold
  text-shadow: 0 1px 0 rgba(90, 90, 90, 0)

.navbar .nav > li > a:hover
  color: #666
  text-shadow: 0 1px 0 rgba(90, 90, 90, 0)

.nav > li > a:hover
  background: #5BB75B
  color: #FFFFFF
  text-shadow: 0 1px 0 rgba(90, 90, 90, 0.5)

.pricings
  text-align: right

.image_gallery
  margin: 40px 0px 0px 0px
  background: white
  -webkit-box-shadow:  0 1px 3px rgba(34, 25, 25, 0.4)
  box-shadow:  0 1px 3px rgba(34, 25, 25, 0.4)

  .image
    text-align: center
    margin: 10px
    border: 1px solid #666

#inquiry
  textarea
    width: 100%
    height: 200px

.sidebar_item
  margin: 12px 0px
  text-align: center
  border: 3px solid #FFF
  -webkit-box-shadow:  0px 0px 5px 1px #999999
  box-shadow:  0px 0px 5px 1px #999999
  background: #FFF

  .name
    margin-top: 6px


#standard_form
  label
    margin: 12px 0px 0px 0px

  input, select
    margin: 0

  .error
    display: block
    color: red